In [54]:

import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv("/content/data_training.csv")
df.head()

  Jenis_Kelamin Jenis_Seleksi  Pendapatan_Wali  ... sks3  sks4  KET
0             L          NUAN          3000000  ...   21    20    T
1             L       MANDIRI          3000000  ...   22    21    T
2             L      PRESTASI          4000000  ...   20    21    T
3             P          NUAN          2000000  ...   20    21   TT
4             P          NUAN          2500000  ...   20    22   TT

[5 rows x 13 columns]

In [7]:
df.isna().sum()

Jenis_Kelamin      0
Jenis_Seleksi      0
Pendapatan_Wali    0
Pendidikan_Ibu     0
IP_SMT1            0
IP_SMT2            0
IP_SMT3            0
IP_SMT4            0
sks1               0
sks2               0
sks3               0
sks4               0
KET                0
dtype: int64

In [8]:
df = df.dropna()
df.isna().sum()

Jenis_Kelamin      0
Jenis_Seleksi      0
Pendapatan_Wali    0
Pendidikan_Ibu     0
IP_SMT1            0
IP_SMT2            0
IP_SMT3            0
IP_SMT4            0
sks1               0
sks2               0
sks3               0
sks4               0
KET                0
dtype: int64

In [9]:
df.dtypes

Jenis_Kelamin       object
Jenis_Seleksi       object
Pendapatan_Wali      int64
Pendidikan_Ibu      object
IP_SMT1            float64
IP_SMT2            float64
IP_SMT3            float64
IP_SMT4            float64
sks1                 int64
sks2                 int64
sks3                 int64
sks4                 int64
KET                 object
dtype: object

In [72]:
number = LabelEncoder()
df['Jenis_Kelamin'] = number.fit_transform(df['Jenis_Kelamin'])
df['Jenis_Seleksi'] = number.fit_transform(df['Jenis_Seleksi'])
df['Pendidikan_Ibu'] = number.fit_transform(df['Pendidikan_Ibu'])
df['IP_SMT1'] = number.fit_transform(df['IP_SMT1'])
df['IP_SMT2'] = number.fit_transform(df['IP_SMT2'])
df['IP_SMT3'] = number.fit_transform(df['IP_SMT3'])
df['IP_SMT4'] = number.fit_transform(df['IP_SMT4'])
df

   Jenis_Kelamin  Jenis_Seleksi  Pendidikan_Ibu  IP_SMT1  ...  sks2  sks3  sks4  KET
0              0              1               2        1  ...    22    21    20    T
1              0              0               2        2  ...    22    22    21    T
2              0              2               0        1  ...    22    20    21    T
3              1              1               0        3  ...    20    20    21   TT
4              1              1               1        4  ...    21    20    22   TT
5              0              0               1        4  ...    20    21    21    T
6              1              0               2        1  ...    21    21    21   TT
7              1              0               2        0  ...    20    21    22   TT

[8 rows x 12 columns]

In [73]:
df_train = df[0:5]

In [74]:
df_train

   Jenis_Kelamin  Jenis_Seleksi  Pendidikan_Ibu  IP_SMT1  ...  sks2  sks3  sks4  KET
0              0              1               2        1  ...    22    21    20    T
1              0              0               2        2  ...    22    22    21    T
2              0              2               0        1  ...    22    20    21    T
3              1              1               0        3  ...    20    20    21   TT
4              1              1               1        4  ...    21    20    22   TT

[5 rows x 12 columns]

In [75]:
df_test = df[5:]

In [76]:
df_test

   Jenis_Kelamin  Jenis_Seleksi  Pendidikan_Ibu  IP_SMT1  ...  sks2  sks3  sks4  KET
5              0              0               1        4  ...    20    21    21    T
6              1              0               2        1  ...    21    21    21   TT
7              1              0               2        0  ...    20    21    22   TT

[3 rows x 12 columns]

In [111]:
X_train = df_train.iloc[:,1:3]
y_train = df_train.iloc[:,3:4]

In [112]:
print(X_train.shape)
print(y_train.shape)

(5, 2)
(5, 1)

In [113]:
X_train

   Jenis_Seleksi  Pendidikan_Ibu
0              1               2
1              0               2
2              2               0
3              1               0
4              1               1

In [114]:
y_train

   IP_SMT1
0        1
1        2
2        1
3        3
4        4

In [115]:
model = GaussianNB()
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [122]:
X_test = df_test.iloc[:,1:3]
X_test

   Jenis_Seleksi  Pendidikan_Ibu
5              0               1
6              0               2
7              0               2

In [123]:
pred = model.predict(X_test)

In [124]:
pred

array([1, 2, 2])

In [125]:
pred_proba = model.predict_proba(X_test)

In [126]:
pred_proba

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.15614307e-11, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.15614307e-11, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [129]:
df = pd.read_csv("/content/transkrip.csv")
df.head()

   no     kode                              matkul  sks  bobot  nilai sks nilai
0   1  TI1668K           PRAKTIK KEAMANAN JARINGAN    1      3          3     B
1   2  TI1668T                   KEAMANAN JARINGAN    2      4          8     A
2   3  TI1670P    PRAKTIKUM PEMROGRAMAN WEB LANJUT    1      2          2     C
3   4  TI1671K  PRAKTIK SISTEM INFORMASI GEOGRAFIS    1      4          4     A
4   5  TI1671T          SISTEM INFORMASI GEOGRAFIS    2      4          8     A

In [152]:
number = LabelEncoder()
df['kode'] = number.fit_transform(df['kode'])
df['matkul'] = number.fit_transform(df['matkul'])
df['nilai'] = number.fit_transform(df['nilai'])
df

   no  kode  matkul  sks  bobot  nilai sks  nilai
0   1     0       2    1      3          3      1
1   2     1       0    2      4          8      0
2   3     2       5    1      2          2      2
3   4     4       3    1      4          4      0
4   5     5       6    2      4          8      0
5   6     6       4    1      4          4      0
6   7     3       1    2      3          6      1
7   8     7       7    6      4         24      0

In [153]:
df_train = df[0:6]
df_train

   no  kode  matkul  sks  bobot  nilai sks  nilai
0   1     0       2    1      3          3      1
1   2     1       0    2      4          8      0
2   3     2       5    1      2          2      2
3   4     4       3    1      4          4      0
4   5     5       6    2      4          8      0
5   6     6       4    1      4          4      0

In [154]:
df_test = df[6:]
df_test

   no  kode  matkul  sks  bobot  nilai sks  nilai
6   7     3       1    2      3          6      1
7   8     7       7    6      4         24      0

In [172]:
X_train = df_train.iloc[:,1:3]
y_train = df_train.iloc[:,3:4]

In [173]:
print(X_train.shape)
print(y_train.shape)

(6, 2)
(6, 1)

In [174]:
X_train

   kode  matkul
0     0       2
1     1       0
2     2       5
3     4       3
4     5       6
5     6       4

In [175]:
y_train

   sks
0    1
1    2
2    1
3    1
4    2
5    1

In [176]:
model = GaussianNB()
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [180]:
X_test = df_test.iloc[:,1:3]
X_test

   kode  matkul
6     3       1
7     7       7

In [181]:
pred = model.predict(X_test)

In [182]:
pred

array([2, 2])

In [183]:
pred_proba = model.predict_proba(X_test)

In [184]:
pred_proba

array([[0.32978407, 0.67021593],
       [0.1148129 , 0.8851871 ]])